<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Log In</title>
    </head>

    <body>
        <form action="login" th:action="@{/login}" method="post">
            <div th:if="${param.error}">
                <span>Invalid Email or Password</span>
            </div>
            <input type="text" name="username" placeholder="Username"/>
            <input type="text" name="password" placeholder="Password"/>
            <button type="submit">Log In</button>
            
        </form>
        <br>
        <div>
            <label>New user? Sign in here! </label> <a href="/user/register"><button>Sign In</button></a>
        </div>
    </body>
</html>