<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlsn:th="http://www.thymeleaf.org">

    <head>
        <title>Sign In</title>
    </head>

    <body>
        <form th:object="${newUser}" th:action="@{/user/register}" method="post">  
            <div th:if="${param.error}">
                <span>Invalid data input, verify.</span>
            </div>
            <div>
                <h1>
                    <label>Email: </label> <input id="email" type="text" th:field="*{email}" placeholder="Email"/>
                </h1>
                <h4>
                    <span style="color:red; font-family: Times New Roman" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid email</span>
                </h4>
            </div>
            <div>
                <h1>
                    <label>Username: </label> <input id="userName" type="text" th:field="*{userName}" placeholder="Username"/>
                </h1>
                <h4>
                    <span style="color:red; font-family: Times New Roman" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Invalid username</span>
                </h4>
            </div>
            <div>
                <h1>
                    <label>Password: </label> <input id="password" type="text" th:field="*{password}" placeholder="Password"/>
                </h1>
                <h4>
                    <span style="color:red; font-family: Times New Roman" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid password</span>
                </h4>
            </div>
            <button type="submit">Sign In</button>
        </form>
    </body>

</html>