<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tasks</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Tasks:<br></h1>
        <div th:each="task : ${tasks}">
            <h2 th:text="${task.title}"></h2>
            <h3 th:text="${task.description}"></h3>
            <h3 th:text="${task.status}"></h3>
            <br>
        </div> 
        <br><!-- Saltito de linea -->
        <a th:href="@{/tasks/{username}/addTask(username=${username})}">
            <button>Add Task</button>
        </a>
        
        
        <a href="/logout">Log Out</a>
    </body>
</html>
