<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tasks</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div><h1>Tasks:</h1></div>
        
        <div th:each="task : ${tasks}">
            <h2 th:text="${task.title}"></h2>
            <p th:text="${task.description}"></p>
            <h3 th:text="${task.status}"></h3>
            <a th:href="@{/tasks/{username}/modifyTask/{taskId}(username=${username},taskId=${task.id})}">Modify this task</a>
        </div>
        
        <div>
            <br><a th:href="@{/tasks/{username}/addTask(username=${username})}"><button>Add Task</button></a>
        </div>
        
        <div>
            <br> <a href="/logout">Log Out</a>
        </div>
        
    </body>
</html>
